@use "./partials/global";
@use "./partials/mixins" as *;


.features{
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__imgHandler{
        @include tablet{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 1rem;
            align-items: flex-start;
        }

        @include desktop{
            gap: 6rem;
        }

    }

    &__img{
        object-fit: contain;
        width: 25rem;
        max-height: 40rem;
    }
}