@use "./variables" as *;

*, *::before, *::after {
    box-sizing: border-box;
    }


body {
    margin: 0;
    font-family: fantasy, Helvetica, sans-serif;

}

.nav{
    padding: .5rem 1rem;
    background-color: $DNDRed;
    display: flex;
    gap: 2rem;
    margin: 0;
    border-bottom: 2px solid $gold;

    &__title,
    &__link{
        color: white;
        text-decoration: none;
    }

    &__title {
        font-family:Impact;
    }
}

.footer{
    padding: 0 1rem;
    margin-top: 1rem;
    background-color: $DNDRed;
    color: white;
    display: flex;
    justify-content: space-between;

    &__link{ 
        text-decoration: none;
        color: white;
    }
}